
.running-page {
  background-color: #959595;
  height: 100vh;
}
.textrun {
  position: absolute;
  color: #7e1616;
  font-size: 40px;
  font-family: Courier New, sans-serif;
  font-weight: bold;
}

.running-content {
  display: flex;
  flex-direction: column;
  justify-conctent: center;
  align-items: center;
  text-align: center;
  background-color: #ccb5b5;
}

.button_running {
  text-align: center;
  font-family: Courier New, sans-serif;
  width: 150px;
  height: 50px;
  position: absolute;
  border-radius: 10px;
  top: 560px;
  background-color: #a3b689;
  color: #284319; /* Added for better visibility */
  border: none; /* Optional: remove border */
  cursor: pointer; /* Optional: change cursor on hover */
  font-size: 23px; /* Optional: adjust font size */
  transition: transform 0.3s; /* Плавный переход для эффектов наведения */
}

.button_running:hover {
  background-color: rgba(186, 42, 42, 0.87); /* Optional: darker shade on hover */
  transform: scale(1.05); /* Add a subtle scale effect on hover */
  color: white;
}